# dependencies
node_modules/

# build
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# video (quan trọng)
public/videos/
*.mp4
*.mov
*.avi
*.webm